
.container{
    height: 55vh;
    width: 20vw;
    background-color:#758283 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
}
.uper{
    display: flex;
    gap: 3rem;
    margin: 1rem;
}
.lower{
 
    display: flex;
    gap: 1rem; 
    align-items: center;
}
.image{
    height: 16rem;
   width: 90%;
   border-radius: 0.5rem;  
}
.imgcont{
    height: 16rem;
    margin-left: 1rem;
    width: 90%;
}
.name{
    color:#B4161B ;
}
.btn{
    padding-left: 1rem;
    padding-right: 1rem;
   padding-top: 0.5rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   background-color: rgb(9, 200, 9);
   border: none;

   border-radius: 0.5rem;
}

